<h1>Welcome to the Taxi Fare Predictor App!</h1>
<h3>Examples of ( Latitude, Longitude ) pairs are given below</h3>
<h5>Empire State Building: ( 40.748817, -73.985428 ) <br>
  Gershwin Theatre: ( 40.762317, -73.985147 ) <br>
  Central Park: ( 40.785091, -73.968285 ) <br>
  Statue of Liberty: ( 40.689247, -74.044502 ) <br>
  Metropolitan Museum of Art: ( 40.779434, -73.963402 ) <br>
  Times Square: ( 40.758896,-73.985130 ) </h5>
<form action="/data" method = "POST">
    <p>Latitude1 <input type = "text" name = "Latitude 1:" /></p>
    <p>Longitude1 <input type = "text" name = "Longitude 1:" /></p>
    <p>Latitude2 <input type = "text" name = "Latitude 2:" /></p>
    <p>Longitude2 <input type = "text" name = "Longitude 2:" /></p>    
    <p><input type = "submit" value = "Submit" /></p>
</form>
